root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
args_bin = ["-verbose"]
bin = "./build/podcast-server"
cmd = "go build -v -o ./build/podcast-server ./cmd/server"
delay = 1000
exclude_dir = ["assets", "tmp", "vendor", "frontend/node_modules", "downloads", "output"]
exclude_file = []
exclude_regex = ["_test.go"]
exclude_unchanged = false
follow_symlink = false
full_bin = ""
include_dir = []
include_ext = ["go", "tpl", "tmpl", "html"]
kill_delay = "0s"
log = "build-errors.log"
send_interrupt = false
stop_on_root = false

[color]
app = ""
build = "yellow"
main = "magenta"
runner = "green"
watcher = "cyan"

[log]
time = true

[misc]
clean_on_exit = false

[screen]
clear_on_rebuild = false
